<div class="sortNSearchToolbar">
  <mat-form-field>
    <mat-select placeholder="{{'ViewUsers.Sort'|translate}}" [(value)]="sortProperty">
      <mat-option value="name">{{'ViewUsers.Name'|translate}}</mat-option>
      <mat-option value="updatedAt">{{'ViewUsers.Updated'|translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button (click)="reverse=!reverse" class="reverseBtn">{{reverse? 'Descending': 'Ascending'}}</button>
  <mat-form-field class="searchBox">
    <input matInput placeholder="{{'ViewUsers.Search'|translate}}" [(ngModel)]="query">
  </mat-form-field>
</div>

<div *ngFor="let user of ((users | search:'name,role':query) | orderBy: sortProperty: reverse)">
  <mat-card class="user-card">
    <mat-card-content>
      <div class="info">
        <div class="user-name naming">{{user.name}}</div>
        <div *ngIf="user.email && user.email !== ''">
          <b>{{'ViewUsers.Email'|translate}} </b> {{user.email}}
        </div>
        <div *ngIf="user.role && user.role !== ''">
          <b>{{'ViewUsers.Role'|translate}} </b> {{user.role}}</div>
        <div *ngIf="user.pronouns && user.pronouns !== ''">
          <b>{{'ViewUsers.Pronouns'|translate}} </b> {{user.pronouns}}</div>
      </div>
      <div class="actions">
        <button mat-button mat-icon-button (click)="delete(user._id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br>
</div>