<mat-card>
  <mat-card-title>{{"Activity.Recent"|translate}}</mat-card-title>
  <div *ngIf="recentlyUpdatedCasefiles">
    <div *ngFor="let casefile of recentlyUpdatedCasefiles">
      <p><b>{{"Activity.Participant"|translate}}</b> {{casefile.participant.name}} - {{"Activity.Last"|translate}} {{casefile.updatedAt | date: 'short'}}</p>
    </div>
  </div>
  <p *ngIf="!recentlyUpdatedCasefiles">{{"Activity.NoRecent"|translate}}</p>
</mat-card>

<mat-card>
  <mat-card-title>{{"Activity.RecentPhone"|translate}}</mat-card-title>
  <div *ngIf="recentlyUpdatedPhonelog">
    <div *ngFor="let phonelog of recentlyUpdatedPhonelog">
      <p><b>Caller:</b> {{phonelog.name}} - {{"Activity.Last"|translate}} {{phonelog.updatedAt | date: 'short'}}</p>
    </div>
  </div>
  <p *ngIf="!recentlyUpdatedPhonelog">{{"Activity.NoRecent"|translate}}</p>
</mat-card>