<mat-card>
  <mat-card-title>{{"ActiveCaseFile.Active"|translate}}</mat-card-title>
  <div *ngIf="activeCases.length==0">
    {{"ActiveCaseFile.NotActive"|translate}}
  </div>
  <mat-accordion *ngIf="activeCases.length > 0">
    <mat-expansion-panel *ngFor="let casefile of (activeCases | orderBy: sortProperty: reverse)">

      <!-- Panel Header -->
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          {{casefile.participant.name}}
          <div *ngIf="casefile.urgency == 'Urgent'">
            <mat-icon color="warn">assignment_late</mat-icon>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          {{"ActiveCaseFile.Last"|translate}} {{casefile.updatedAt | date: 'short'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Casefile Information -->
      <p><b>{{"ActiveCaseFile.Priority"|translate}}</b> {{casefile.urgency}}</p>
      <p><b>{{"ActiveCaseFile.Created"|translate}}</b> {{casefile.createdBy.name}}</p>
      <p><b>{{"ActiveCaseFile.LastUpdated"|translate}}</b> {{casefile.updatedBy.name}}</p>

      <button mat-raised-button color="primary" class="viewBtn" (click)="viewParticipant(casefile.participant._id)">{{"ActiveCaseFile.ViewProfile"|translate}}</button>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>