<mat-card>
  <mat-card-title>Active Case Files</mat-card-title>
  <div *ngIf="activeCases.length==0">
    No active case files to display
  </div>
  <mat-accordion *ngIf="activeCases.length > 0">
    <mat-expansion-panel *ngFor="let casefile of (activeCases | orderBy: sortProperty: reverse)">

      <!-- Panel Header -->
      <mat-expansion-panel-header>
        <mat-panel-title class="title">
          {{casefile.participant.name}}
          <div *ngIf="casefile.urgency == 'Urgent'">
            <mat-icon color="warn">assignment_late</mat-icon>
          </div>
        </mat-panel-title>
        <mat-panel-description>
          Last update: {{casefile.updatedAt | date: 'short'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- Casefile Information -->
      <p><b>Priority:</b> {{casefile.urgency}}</p>
      <p><b>Created by:</b> {{casefile.createdBy.name}}</p>
      <p><b>Last updated by:</b> {{casefile.updatedBy.name}}</p>

      <button mat-raised-button color="primary" class="viewBtn" (click)="viewParticipant(casefile.participant._id)">View Profile</button>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card>