<div class="white-container container">
  <h3 class="history-header">Cases</h3>

  <mat-card *ngIf="orderedCases.length == 0">
    No cases to display.
  </mat-card>

  <mat-accordion *ngIf="orderedCases.length > 0">
    <mat-expansion-panel *ngFor="let casefile of orderedCases; let caseIndex = index" (opened)="setEditedCasefile(casefile)"
      (closed)="resetDateSwitcher()">

      <!-- Panel Header -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{casefile.date | date: 'fullDate'}}
        </mat-panel-title>
        <mat-panel-description>
          Status: {{casefile.status | slice:0:100}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <app-case-general [casefile]=casefile></app-case-general>

    </mat-expansion-panel>
  </mat-accordion>
</div>