<h2 class="heading">
  Phone Call
</h2>
<form [formGroup]="phonelog" #f="ngForm">

  <div class="caller-name">
    <mat-form-field>
      <input matInput placeholder="Name of caller" name="name" formControlName="name">
    </mat-form-field>

    <mat-form-field class="pronouns">
      <mat-select placeholder="Pronoun" name="pronouns" formControlName="pronouns">
        <mat-option *ngFor="let pronoun of pronouns" [value]="pronoun">
          {{pronoun}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-form-field>
    <mat-select placeholder="Language" name="language" formControlName="language">
      <mat-option *ngFor="let lang of language" [value]="lang">
        {{lang}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type of caller" name="callertype" formControlName="callertype">
      <mat-option *ngFor="let caller of callertype" [value]="caller">
        {{caller}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="message-header">
    <mat-form-field>
      <mat-select placeholder="Reason for call" name="subject" formControlName="subject">
        <mat-option *ngFor="let subject of subjects" [value]="subject">
          {{subject}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle name="urgent" formControlName="urgent" [checked]="urgent">
      Urgent
    </mat-slide-toggle>
  </div>

  <mat-form-field class="phonenumber">
    <input matInput placeholder="Phone number" name="phonenumber" formControlName="phonenumber">
  </mat-form-field>

  <mat-form-field class="assignedTo">
    <mat-select placeholder="Assign to:" [(value)]="assignedTo" formControlName="assignedTo">
      <mat-option *ngFor="let worker of allWorkers" [value]="worker._id">
        {{ worker.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="message">
    <textarea matInput placeholder="Message" cdkTextareaAutosize="true" matAutosizeMinRows="5" name="message" formControlName="message"></textarea>
    <mat-hint align="start">Their message, when to call, extension number...</mat-hint>
  </mat-form-field>

  <button mat-raised-button type="submit" color="primary" [disabled]="phonelog.invalid" (click)="submit()">Log this call</button>
</form>