<div class="container">
  <mat-card>

    <mat-horizontal-stepper [linear]="isLinear">

      <!-- Referral Step -->
      <mat-step [stepControl]="referralForm">
        <div class="step-header">Referral Information</div>
        <form [formGroup]="referralForm">

          <mat-form-field>
            <input placeholder="Referred by" matInput formControlName="referral">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="How they contacted {{organizationName}}" matInput formControlName="contactMethod">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Intake done by" formControlName="intakeDoneBy">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Intake via" name="intakeMethod" formControlName="intakeMethod">
              <mat-option *ngFor="let method of intakeMethods" [value]="method">
                {{ method }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-radio-group class="question-group" formControlName="criteriaProcess">
            <p>In (or considering) the refugee claimant process or an immigration process? In a precarious situation related
              to immigration process?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="criteriaIdentity">
            <p>Self-identify as a sexual and/or gender minority (or making a refugee claim based on SOGIE-related ground)?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Contact Information Step -->
      <mat-step [stepControl]="contactForm">
        <div class="step-header">Contact Information</div>
        <form [formGroup]="contactForm">

          <mat-form-field>
            <input placeholder="Name" matInput formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="Telephone" formControlName="telephone">
          </mat-form-field>

          <mat-radio-group class="question-group" formControlName="telephonePrivate">
            <p>Private number that only this person answers?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneVoicemail">
            <p>Can leave voice messages?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneVoicemailName">
            <p>Can leave voice messages stating caller's name?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneVoicemailAgir">
            <p>Can leave voice messages stating AGIR?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneText">
            <p>Can send text messages?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneTextName">
            <p>Can send text messages and stating sender's name?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="telephoneTextAgir">
            <p>Can send text messages and stating AGIR?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <input matInput #email placeholder="Email address" formControlName="email">
          </mat-form-field>
          <!-- <div *ngIf="isAlreadyAParticipantEmail" style="color:red">This is already associated to a participant!</div> -->

          <mat-radio-group class="question-group" formControlName="emailPrivate">
            <p>Private email that only this person accesses?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="notifications">
            <p>Wants to receive announcements of AGIR group activities and events?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <section class="question-group">
            <p>Wants to receive announcements via:</p>
            <mat-checkbox formControlName="isNotifiedViaEmail">Email</mat-checkbox>
            <mat-checkbox formControlName="isNotifiedViaText">Text Message</mat-checkbox>
            <mat-checkbox formControlName="isNotifiedViaFacebook">Facebook</mat-checkbox>
          </section>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Request Form Step -->
      <mat-step [stepControl]="requestForm">
        <div class="step-header">Immigration Process</div>
        <form [formGroup]="requestForm">

          <mat-form-field>
            <input placeholder="What are you hoping to get help with?" matInput formControlName="goal">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="What type of request? (Refugee claim, immigration, other)" matInput formControlName="type">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Is/was in immigration detention (duration):" matInput formControlName="detentionDuration">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="When submitted(ing) application(s):" matInput formControlName="submissionDate">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Important upcoming dates:" matInput formControlName="upcomingDates">
          </mat-form-field>

          <mat-radio-group class="question-group" formControlName="hasLawyer">
            <p>Has lawyer?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-radio-group class="question-group" formControlName="isSearchingLawyer">
            <p>Wants to change lawyer?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <input placeholder="Other:" matInput formControlName="otherInfo">
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- General Form Step -->
      <mat-step [stepControl]="generalForm">
        <div class="step-header">General Information</div>
        <form [formGroup]="generalForm">
          <mat-form-field>
            <input placeholder="Languages spoken:" matInput formControlName="languages">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Countries of origin:" matInput formControlName="countries">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Arrival date in Canada:" matInput formControlName="canadianArrivalDate">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Arrival date in Montreal:" matInput formControlName="montrealArrivalDate">
          </mat-form-field>

          <mat-form-field>
            <input placeholder="Neighbourhood living in:" matInput formControlName="neighbourhood">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Daily Life Step -->
      <mat-step [stepControl]="dailyLifeForm">
        <div class="step-header">Daily Life Information</div>
        <form [formGroup]="dailyLifeForm">
          <mat-form-field>
            <input placeholder="Accomodation situation:" matInput formControlName="accomodation">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Economic situation:" matInput formControlName="economic">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Access to healthcare:" matInput formControlName="healthcare">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="How have you been feeling these days? (physical, emotional etc):" matInput formControlName="wellbeing">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="How do you spend your day?" matInput formControlName="activities">
          </mat-form-field>
          <mat-radio-group class="question-group" formControlName="hasActivitiesWithRelatives">
            <p>Do you spend time with relatives in Montreal?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group class="question-group" formControlName="hasActivitiesWithFriends">
            <p>Do you spend time with friends and/or people to hang out with?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group class="question-group" formControlName="hasActivitiesWithFaithGroups">
            <p>Do you spend time with faith groups or practices?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Services Accessing -->
      <mat-step [stepControl]="servicesForm">
        <div class="step-header">Services Already Accessing</div>
        <form [formGroup]="servicesForm">
          <mat-radio-group class="question-group" formControlName="praida">
            <p>PRAIDA?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
            <mat-radio-button value="notapplicable">N/A</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input placeholder="PRAIDA brief details:" matInput formControlName="praidaInfo">
          </mat-form-field>
          <mat-radio-group class="question-group" formControlName="ymca">
            <p>YMCA?</p>
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
            <mat-radio-button value="notapplicable">N/A</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <input placeholder="YMCA brief details:" matInput formControlName="ymcaInfo">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="LGBTQ organizations:" matInput formControlName="lgbtq">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Migrant organizations:" matInput formControlName="migrant">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Other organizations and/or professionals:" matInput formControlName="other">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Accessibility Form -->
      <mat-step [stepControl]="accessibilityForm">
        <form [formGroup]="accessibilityForm">
          <div class="step-header">Access Needs</div>
          <mat-form-field>
            <input placeholder="Physical mobility, vision, hearing, etc" matInput formControlName="accessNeeds">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Other Information Form -->
      <mat-step [stepControl]="otherInfoForm">
        <form [formGroup]="otherInfoForm">
          <div class="step-header">Additional Information</div>
          <mat-form-field>
            <input placeholder="Any other infomation" matInput formControlName="otherInfo">
          </mat-form-field>
          <mat-form-field>
            <input placeholder="Given information for the following resources" matInput formControlName="providedInfo">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button>Finalize</button>
            <button mat-button>Reset</button>
          </div>
        </form>
      </mat-step>

    </mat-horizontal-stepper>
  </mat-card>
</div>