mat-form-field {
    display: block;
}

mat-card {
    width: 66%;
}

button{
    margin-top: 18px;
}

.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    margin-bottom: 1.5rem;
}
.question-group p {
    margin-top: 2rem;
}