<div class="container">
  <div class="form-container">
    <form class="form" [formGroup]="resourceForm">
      <mat-form-field>
        <input matInput required placeholder="{{'EditResource.Name'|translate}}" name="name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'EditResource.Term'|translate}}" name="term" formControlName="term">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'EditResource.Email'|translate}}" name="email" formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <span matPrefix>+1 &nbsp;</span>
        <input matInput placeholder="{{'EditResource.Telephone'|translate}}" name="telephone" formControlName="phone">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="{{'EditResource.Location'|translate}}" name="location" formControlName="location">
      </mat-form-field>

      <div [ngSwitch]="resource.kind">

        <ng-container *ngSwitchCase="'Housing'">
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Notes'|translate}}" name="notes" formControlName="notes">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Gender'|translate}}" name="gender" formControlName="gender">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Constraints'|translate}}" name="constraints" formControlName="constraints">
          </mat-form-field>
        </ng-container>

        <ng-container *ngSwitchCase="'Medical'">
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Cost'|translate}}" name="without_cost" formControlName="without_cost">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Waitlist'|translate}}" name="waitlist_time" formControlName="waitlist_time">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="{{'EditResource.Schedule'|translate}}" name="schedule_availability" formControlName="schedule_availability">
          </mat-form-field>
        </ng-container>
      </div>


      <button mat-raised-button color="primary" (click)="update()" [disabled]="resourceForm.invalid">{{'EditResource.Update'|translate}}</button>
      <button mat-raised-button (click)="cancelEdit()">{{'EditResource.Cancel'|translate}}</button>

    </form>
  </div>

  <div class="edit-actions">
    <button mat-icon-button (click)="delete()">
      <mat-icon color="warn">delete</mat-icon>
    </button>
  </div>
</div>