/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


body { 
    font-family: Open, Arial, sans-serif;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(64, 48, 117);
}

button.mat-raised-button.reverseBtn{
  width: 8rem;
}

div.sortNSearchToolbar{
  margin-top: 2.5rem;
}

mat-form-field.searchBox{
  padding-left: 0.5rem;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(	136, 45, 96);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(167, 36, 243, 0.219);
}