/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  --pending: #fff176;
  --success: #1de9b6;
  --warning: #f50057;
  --primary: #7e57c2;
  --accent: #ff4081;
}



html {
  font-size: 62.5%;
}


body { 
    font-family: 'Open', sans-serif;
    line-height: 1.7;
}

div, p {
 font-size: 1.6rem; 
}

.pending-font {
  color: var(--pending);
}

.pending {
  background-color: var(--pending);
}

.success-font {
  color: var(--success);
}

.success {
  background-color: var(--success);
}

.warning-font {
  color: var(--warning);
}

.warning {
  background-color: var(--warning);
}

.primary-font {
  color: var(--primary);
}

.primary {
  background-color: var(--primary);
}

.accent-font {
  color: var(--accent);
}

.accent {
  background-color: var(--accent);
}

.text-field-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.text-field-value {
  font-size: 1.6rem;
  font-weight: 200;
}

.text-content {
  font-size: 1.6rem;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(64, 48, 117);
}

button.mat-raised-button.reverseBtn{
  width: 8rem;
}

div.sortNSearchToolbar{
  margin-top: 2.5rem;
}

mat-form-field.searchBox{
  padding-left: 0.5rem;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: rgb(	136, 45, 96);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color:rgba(167, 36, 243, 0.219);
}