@import '../participants/participant-profile/participant-profile.component.css';

.container {
    margin: 2rem 0;
}

.text,
.attachment {
    margin: 1rem 0;
}

img {
    max-width: 40rem;
    max-height: 60rem;
}

.note-container {
    display: flex;
}

.note-content {
    flex: 1;
}

.deleteNoteBtn {
    align-self: flex-end;
}