<h1 mat-dialog-title>Add a Document</h1>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <textarea matInput placeholder="Document description" name="text" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"
        [(ngModel)]="document.type"></textarea>
    </mat-form-field>
    <div class="fileupload">
      <h4>Upload Document</h4>
      <input type="file" #upload (change)="handleFileInput(upload.files)" accept="application/pdf" [disabled]="isLoading">
      <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!file || isLoading">Submit</button>
  <button mat-raised-button (click)="cancel()">Close</button>
</mat-dialog-actions>
