.loginCard {
    width: 80%;
}

.loginLoading {
    text-align: center;
}

.loginSpinner {
    display: inline-block;
}

.loginError {
    display: flex;
}

.loginError .mat-icon {
    margin-right: 1rem;
}