<form class="form" [formGroup]="editphonelog">

    <div class="caller-name">
        <mat-form-field>
            <input matInput required placeholder="{{'EditPhoneLog.Name'|translate}}" name="name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="pronouns">
            <input matInput placeholder="{{'EditPhoneLog.Pronouns'|translate}}" name="pronouns" formControlName="pronouns">
        </mat-form-field>
    </div>

    <mat-form-field>
        <mat-select placeholder="{{'EditPhoneLog.Type'|translate}}" name="callertype" formControlName="callertype">
            <mat-option *ngFor="let caller of callertype" [value]="caller">
                {{ caller}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
            <input matInput placeholder="{{'EditPhoneLog.Language'|translate}}" name="language" formControlName="language">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="{{'EditPhoneLog.Phone'|translate}}" name="phonenumber" formControlName="phonenumber">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker3" name="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>

    <div class="message-header">
        <mat-form-field>
            <input matInput placeholder="{{'EditPhoneLog.Reason'|translate}}" name="subject" formControlName="subject">
        </mat-form-field>

        <mat-slide-toggle name="urgent" formControlName="urgent" [checked]="urgent">
            {{'EditPhoneLog.Urgent'|translate}}
        </mat-slide-toggle>
    </div>

    <mat-form-field class="message">
            <textarea matInput placeholder="{{'EditPhoneLog.Message'|translate}}" matTextareaAutosize matAutosizeMinRows="5" name="message" formControlName="message"></textarea>
            <mat-hint align="start">{{'EditPhoneLog.Hint'|translate}}</mat-hint>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="editphonelog.invalid" (click)="update(log._id,log)">{{'EditPhoneLog.Update'|translate}}</button>
    <button mat-raised-button type="button" (click)="cancel.emit()">{{'EditPhoneLog.Cancel'|translate}}</button>

</form>