mat-form-field {
    width: 40%;
    display: inline-block;
}

.caller-name {
    display: flex;
}

.caller-name mat-form-field,
.caller-type,
.call-phone,
.call-subject {
    margin-right: 2rem;
}

.pronouns {
    width: 10rem;
}

.message-header {
    display: flex;
    align-items: baseline;
}

.message {
    width: 100%;
    margin-bottom: 3rem;
}


