<div class="container">
  <mat-card class="register-card">
    <mat-card-title>
      Register a User
    </mat-card-title>
    <form [formGroup]="form" (ngSubmit)="signUp()" #f="ngForm" *ngIf="!loading">
      <mat-card-content>

        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Pronouns" formControlName="pronouns">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
          </mat-form-field>

          <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="role">
              <mat-option value="admin">Administrator</mat-option>
              <mat-option value="user">Regular User</mat-option>
            </mat-select>
          </mat-form-field>

        <button mat-raised-button [disabled]="form.invalid"
          color="primary" type="submit">Submit</button>
      </mat-card-content>
    </form>

    <div class="loading">
      <mat-spinner *ngIf="loading" color="primary" class="spinner"></mat-spinner>
    </div>

    <div *ngIf="error" class="loginError">
      <mat-icon class="warning-font">error</mat-icon>
      <h4>{{msg}}</h4>
    </div>
    <div *ngIf="!error && msg">
      <h4>{{msg}}</h4>
    </div>

  </mat-card>
</div>