<mat-toolbar color="primary">
  <span *ngIf="this.authenticationService.loggedIn">
    <a class="nav-link" routerLink="dashboard">
      <button mat-button class="nav-logo">Axiona</button>
    </a>
    <a class="nav-link" routerLink="dashboard">
      <button mat-button>
        <mat-icon class="nav-home">home</mat-icon>
        Dashboard
      </button>
    </a>
    <a class="nav-link" routerLink="participants">
      <button mat-button>
        Participants
      </button>
    </a>
    <a class="nav-link" routerLink="resources">
      <button mat-button>Resources</button>
    </a>
  </span>
  <span class="fill-remaining-space"></span>
  <span *ngIf="this.authenticationService.loggedIn">
    <button mat-icon-button class="nav-phonelog" (click)="addPhonelog()">
      <mat-icon>phone</mat-icon>
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
<router-outlet *ngIf="heartbeat"></router-outlet>