<mat-toolbar color="primary">
  <span *ngIf="this.authenticationService.loggedIn">
    <a class="nav-link" routerLink="dashboard">
      <button mat-button class="nav-logo">Axiona</button>
    </a>
    <a class="nav-link" routerLink="participants">
      <button mat-button>Participants</button>
    </a>
    <a class="nav-link" routerLink="resources">
      <button mat-button>Resources</button>
    </a>
    <a class="nav-link" routerLink="dashboard/phonelog">
      <button mat-button>Phone Log</button>
    </a>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span>
  <mat-select #langSelect (change)="translate.use(langSelect.value)">
          <mat-option *ngFor="let lang of translate.getLangs()" placeholder="Choose Language" [value]="lang" selected="lang === translate.currentLang">{{ lang }}</mat-option>
        </mat-select>
  </span>
  <span *ngIf="this.authenticationService.loggedIn">
    <button mat-button (click)="logout()">Logout</button>
  </span>
</mat-toolbar>
<router-outlet *ngIf="heartbeat"></router-outlet>