.mat-card {
  margin: 1em;
  width: 400px;
}

.avatar {
  line-height: 4rem;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.mat-card-avatar {
  height: 4rem;
  width: 4rem;
}

a {
  text-decoration: none;
  color: black;
}

mat-card {
  margin-left: 1em;
}

.tab-content {
  margin: 1.5em;
}