<div class="tab-content">
  <div class="sortNSearchToolbar">
    <mat-form-field>
      <mat-select placeholder="{{'ViewParticipants.Sort'|translate}}" [(value)]="sortProperty">
        <mat-option value="name">{{'ViewParticipants.Name'|translate}}</mat-option>
        <mat-option value="updatedAt">{{'ViewParticipants.Updated'|translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="reverse=!reverse" class="reverseBtn">{{reverse? 'Descending': 'Ascending'}}</button>
    <mat-form-field class="searchBox">
      <input matInput placeholder="{{'ViewParticipants.Search'|translate}}" [(ngModel)]="query">
    </mat-form-field>
  </div>

  <div class="container">
    <mat-card *ngFor="let participant of ((profiles| search:'name':query) | orderBy: sortProperty: reverse)">
      <div *ngIf="editingParticipant != participant">
        <mat-card-header class="participant-header">
          <div mat-card-avatar class="avatar primary">{{participant.name[0]}}</div>
          <div class="name-container">
            <div class="naming">
              {{participant.name}}
            </div>
            <div class="username">{{'ViewParticipants.Username'|translate}} {{participant.username}}</div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="participant.pronouns !== undefined && participant.pronouns !== ''">
            <b> {{'ViewParticipants.pronouns'|translate}} </b> {{participant.pronouns}}
            <br>
          </div>
          <div *ngIf="participant.email !== ''">
            <b> {{'ViewParticipants.Email'|translate}} </b> {{participant.email}}
            <br>
          </div>
          <div *ngIf="participant.telephone !== '' ">
            <b> {{'ViewParticipants.Phone'|translate}} </b> {{participant.telephone}}
            <br>
          </div>
          <div *ngIf="participant.socialmedia !== undefined">
            <b> {{'ViewParticipants.SocialMedia'|translate}} </b> {{participant.socialmedia.service}} {{participant.socialmedia.username}}
            <br>
          </div>
          <div *ngIf="participant.address !== '' ">
            <b> {{'ViewParticipants.Address'|translate}} </b> {{participant.address}}
            <br>
          </div>
          <div *ngIf="participant.socialworkers">
            <b> {{'ViewParticipants.SocialWorkers'|translate}} </b>
            <span *ngFor="let worker of participant.socialworkers; let isLast=last">
              {{worker.name}}{{isLast ? '': ', '}}
            </span>
            <br>
          </div>
        </mat-card-content>

        <button mat-raised-button color="primary" (click)="view(participant._id)">{{'ViewParticipants.View'|translate}}</button>
        <button mat-raised-button (click)="edit(participant._id, participant)">{{'ViewParticipants.Edit'|translate}}</button>

      </div>

      <div *ngIf="editingParticipant == participant">
        <app-edit-participant [participant]="editingParticipant" (cancel)="cancel()"></app-edit-participant>
      </div>
    </mat-card>
  </div>
</div>