mat-toolbar-row a.nav-link {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 0 2rem;
}

.toolbar {
    flex: 1 20%;
    margin-right: 2rem;
}

.main {
    flex: 1 80%;
}

mat-icon {
    padding: 0 1.5rem;
}

button.mat-button {
    padding: 0 1rem 0 0;
}