<div class="container">
<mat-card>
  <form [formGroup]="form"  #f="ngForm" (ngSubmit)="onSubmit() && form.reset()" novalidate>

    <mat-form-field class="name-input">
      <input placeholder="Name" matInput formControlName="name">
      <mat-hint align="start">
        {{"AddParticipant.Legal"|translate}}
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{'AddParticipant.Pronouns'|translate}}" formControlName="pronouns">
    </mat-form-field>

    <mat-form-field>
      <span matPrefix>+1 &nbsp;</span>
      <input  type="tel" matInput placeholder="{{'AddParticipant.Telephone'|translate}}" formControlName="telephone">
    </mat-form-field>

    <div  class="well well-lg">
    <mat-form-field>
      <input matInput placeholder="{{'AddParticipant.SocialMedia'|translate}}" formControlName="service">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="{{'AddParticipant.SocialMediaAccount'|translate}}" formControlName="username">
    </mat-form-field>
    </div>

    <mat-form-field>
      <input  matInput (keyup.enter)="onKey('email', email.value)" (blur)="onKey('email', email.value)" #email placeholder="{{'AddParticipant.EmailAddress'|translate}}" formControlName="email">
    </mat-form-field>

    <div *ngIf="isAlreadyAParticipantEmail" style="color:red">{{'AddParticipant.Warning'|translate}}</div>
    <mat-form-field>
      <input matInput placeholder="{{'AddParticipant.Address'|translate}}" formControlName="address">
      <mat-hint align="start">
        {{'AddParticipant.Optional'|translate}}
      </mat-hint>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">{{'AddParticipant.Submit'|translate}}</button>
  </form>
</mat-card>
</div>